<body data-username="{{ user.username }}" data-csrfToken="{{ csrf_token }}">
<div class="header">
    <div class="userInfo">
        <div class="userAvatar" style="height: 39px">
            <img src="../static/images/userAvatar.png" alt="" style="border-radius: 100%; height: 39px; width: 39px">
        </div>
        <div class="userName">
            <div class="userNameContainer">{{ user.username }}</div>
            <div style="font: 500 11px var(--font-family); letter-spacing: -0.01em; text-align: left; color: #fff;">CEO</div>
        </div>
    </div>
    <div class="headerButtons">
        <div class="levelInfoMain">
            <div id="level">{{ userlevelname }}</div>
            <div class="pointsCount">
                <div class="currentPoints" id="level_count" style="margin-right: 5px;">{{ user.level }}</div>
                <div class="neededPoints">/ 10</div>
            </div>
        </div>
        <div class="profitInfoMain">
            Прибыль в час
            <div class="infoData">
                <img src="../static/images/coinTask.png" alt="" height="17px">
                <div id="coins_per_hour"></div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="airdropHeader">Airdrop</div>
    <div class="airdropRoute">
        <div class="waypoint">
            <div class="waypointStatus">
                <div class="waypointPassed"></div>
                <div class="waypointName">Слоты</div>
            </div>
            <svg width="4" height="54" viewBox="0 0 4 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 54" stroke="#4362F7" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointPassed"></div>
                <div class="waypointName">Задания</div>
            </div>
            <svg width="4" height="54" viewBox="0 0 4 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 54" stroke="#4362F7" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointReached"></div>
                <div class="waypointName">Запуск NFT</div>
            </div>
            <svg width="4" height="51" viewBox="0 0 4 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 51" stroke="#606265" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointDontReached"></div>
                <div class="waypointName">Предпродажа токенов</div>
            </div>
            <svg width="4" height="51" viewBox="0 0 4 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 51" stroke="#606265" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointDontReached"></div>
                <div class="waypointNameDontReached">Листинг</div>
            </div>
            <svg width="4" height="51" viewBox="0 0 4 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 51" stroke="#606265" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointDontReached"></div>
                <div class="waypointNameDontReached">Airdrop</div>
            </div>
            <svg width="4" height="51" viewBox="0 0 4 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L2 51" stroke="#606265" stroke-width="4" stroke-dasharray="4 4" />
            </svg>
        </div>
        <div class="waypoint secondWaypoint">
            <div class="waypointStatus">
                <div class="waypointDontReached"></div>
                <div class="waypointNameDontReached">Jungle Games and Development</div>
            </div>
        </div>
    </div>
    <div class="tasksList">
        <div class="tasksListHeader">
            Задания
        </div>
        <div class="airdropContainer">
            <div class="airdropCount">
                <img src="../static/images/ton.png" alt="" height="24px" width="24px">
                Подключи свой TON кошелек
            </div>
            <div class="doneButton">Скоро</div>
        </div>
        <div class="airdropContainer">
            <div class="airdropCount">
                <img src="../static/images/exchange.png" alt="" height="24px" width="24px">
                Подключись к бирже
            </div>
            <div class="doneButton">Скоро</div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="menuSection" id="game">
        <div>
            <img src="../static/images/game_unactive.png" alt="" style="opacity: 0.3">
            Биржа
        </div>
    </div>
    <div class="menuSection mine" id="mine">
        <div>
            <img src="../static/images/mine.png" alt="" style="opacity: 0.3">
            Слоты
        </div>
    </div>
    <div class="menuSection tasks">
        <div>
            <img src="../static/images/tasks.png" alt="" style="opacity: 0.3">
            Задания
        </div>
    </div>
    <div class="menuSection friends">
        <div>
            <img src="../static/images/friends.png" alt="" style="opacity: 0.3">
            Друзья
        </div>
    </div>
    <div class="menuSection coin activePage airdrop">
        <div>
            <img src="../static/images/airdrop.png" alt="">
            Airdrop
        </div>
    </div>
    <script src="../static/scripts/airdrop.js"></script>
    <style>
        .container {
            background: linear-gradient(180deg, #100925 0%, #3e228b 100%);
        }
    </style>
</div>
</body>