<body data-username="{{ user.username }}" data-csrfToken="{{ csrf_token }}">
<div class="main">
    <div style="margin-bottom: 44px; width: 100%">
        <div class="dailyTasks">Tasks</div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/youtube.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; font: 600 13px var(--font-family); letter-spacing: -0.03em; color: var(--white);">
                        <div>Watch any video, like and subscribe</div>
                        <div class="timerSet" style="margin-left: 5px"></div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+ 333 BUBBLES</div>
                    </div>
                </div>
            </div>
            <div class="12hTaskClaimContainer">

            </div>
        </div>
        <div class="taskContainer" id="taskContainer">
            <div class="dailyCount" id="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/matrix.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 3rem; font: 600 13px var(--font-family); letter-spacing: -0.03em; color: var(--white);">
                        <div>Leave the matrix</div>
                        <div id="timerSet" style="margin-left: 5px"></div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+ 999 BUBBLES</div>
                    </div>
                </div>
            </div>
            <div id="12hTaskClaimContainer">
                <div id="startButton">Start</div>
            </div>
        </div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/3friends.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 5px; font: 600 13px var(--font-family); letter-spacing: -0.03em; color: var(--white);">
                        <div>Invite 3 friends</div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+ 3333 BUBBLES</div>
                    </div>
                </div>
            </div>
            <div class="taskClaimContainer">
                <div class="claimButton friendsTaskClaim">Claim</div>
            </div>
        </div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/telegram.png" alt="" width="37px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 5px; font: 600 13px var(--font-family); letter-spacing: -0.03em; color: var(--white);">
                        <div>More tasks</div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                    </div>
                </div>
            </div>
            <div class="taskClaimContainer">
                <div class="startButton moreTasksRedirectButton">View</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="menuSection" id="game">
        <div>
            <img src="../static/images/game_unactive.png" alt="">
            Home
        </div>
    </div>
    <div class="menuSection tasks activePage">
        <div>
            <img src="../static/images/tasks_active.png" alt="">
            Tasks
        </div>
    </div>
    <div class="menuSection friends">
        <div>
            <img src="../static/images/friends.png" alt="">
            Friends
        </div>
    </div>
</div>
<script src="../static/scripts/tasks.js"></script>
</body>