<body data-username="{{ user.username }}" data-csrfToken="{{ csrf_token }}">
<div class="main">
    <div style="margin: 2rem 14px 44px 14px; background: rgba(0, 0, 0, 0.2); border-radius: 30px;padding: 10px 10px;width: -webkit-fill-available">
        <div class="dailyTasks">Tasks</div>
        <div style="width: 90%; margin: 0 auto; border: 1px solid #1f3f13"></div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/youtube.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; font-family: var(--font-family); font-weight: 600; font-size: 13px; line-height: 112%; color: #fff;">
                        <div>Subscribe youtuber you like</div>
                        <div class="timerSet" style="margin-left: 5px"></div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+100 PICKLES</div>
                    </div>
                </div>
            </div>
            <div class="12hTaskClaimContainer">

            </div>
        </div>
        <div style="width: 90%; margin: 0 auto; border: 1px solid #1f3f13"></div>
        <div class="taskContainer" id="taskContainer">
            <div class="dailyCount" id="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/matrix.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 3rem; font-family: var(--font-family); font-weight: 600; font-size: 13px; line-height: 112%; color: #fff;">
                        <div>Leave the matrix</div>
                        <div id="timerSet" style="margin-left: 5px"></div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+100 PICKLES</div>
                    </div>
                </div>
            </div>
            <div id="12hTaskClaimContainer">
                <div id="startButton">Start</div>
            </div>
        </div>
        <div style="width: 90%; margin: 0 auto; border: 1px solid #1f3f13"></div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/3friends.png" alt="" width="36px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 5px; font-family: var(--font-family); font-weight: 600; font-size: 13px; line-height: 112%; color: #fff;">
                        <div>Invite 3 friends</div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                        <div id="rewardCost">+1000 PICKLES</div>
                    </div>
                </div>
            </div>
            <div class="taskClaimContainer">
                <div class="claimButton friendsTaskClaim">Claim</div>
            </div>
        </div>
        <div style="width: 90%; margin: 0 auto; border: 1px solid #1f3f13"></div>
        <div class="taskContainer">
            <div class="dailyCount">
                <div style="margin-right: 14px">
                    <img src="../static/images/telegram.png" alt="" width="37px" height="auto">
                </div>
                <div style="gap: 3px; display: flex; flex-direction: column">
                    <div style="display: flex; flex-direction: row; gap: 5px; font-family: var(--font-family); font-weight: 600; font-size: 13px; line-height: 112%; color: #fff;">
                        <div>More tasks</div>
                    </div>
                    <div style="font: 600 11px var(--font-family);letter-spacing: -0.04em;background: linear-gradient(89deg, #d1317a 0%, #da294c 17.57%, #dd263d 35.33%, #e87d31 81.66%, #eda62c 91.09%, #f2d026 98.64%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent; display: flex; flex-direction: row; align-items: center; gap: 5px">
                    </div>
                </div>
            </div>
            <div class="taskClaimContainer">
                <div class="startButton moreTasksRedirectButton">View</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="menuSection" id="game">
        <div>
            <img src="../static/images/game_unactive.png" alt="">
            Home
        </div>
    </div>
    <div class="menuSection tasks activePage">
        <div>
            <img src="../static/images/tasks_active.png" alt="">
            Tasks
        </div>
    </div>
    <div class="menuSection friends">
        <div>
            <img src="../static/images/friends.png" alt="">
            Friends
        </div>
    </div>
</div>
<script src="../static/scripts/tasks.js"></script>
</body>